* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

.main__content-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  background-color: #ffff;
}

.main__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1440px;
}

.main__bio-img {
  width: 464px;
  height: 464px;
  border-radius: 1000px;
  margin-top: 80px;
}

.main__content-title {
  width: 600px;
  height: 46px;
  margin-bottom: 24px;
}

.main__content-bio {
  width: 600px;
  height: 120px;
}

.main__results-cards {
  display: flex;
  justify-content: center;
  gap: 8px;
}
